<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon application Dash</title>
    {% block metas %}{% endblock %}
    {% block title %}"Mon application Dash"{% endblock %}
    {% for css in css %}
    <link rel="stylesheet" href="{{ css }}" />
    {% endfor %}
    {% for script in scripts %}
    <script src="{{ script }}"></script>
    {% endfor %}
</head>
<body>

    <div id="app">
        {{ app_entry }}
    </div>

    <footer>
        {{ config }}
        {{ renderer }}
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on('update_textarea', function (data) {
                var textarea = document.getElementById('textarea');
                textarea.value = data;
            });
        });
    </script>

</body>
</html>